{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 150,
  "bracketSpacing": true,
  "importOrder": [
    "^react$",
    "^@react",
    "^@components/(.*)$",
    "^@utils/(.*)$",
    "^@interface/(.*)$",
    "^@hook/(.*)$",
    "^@api/(.*)$",
    "^@store/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
